body{
    color:aliceblue;
    background-color: #060606;
    margin: 50px;
    font-family: monospace;
}
#titulo{
    color: rgb(52, 228, 52);
    text-align: center;
}
#descripcion{
    text-align: center;
    color: rgb(52, 228, 52);
    font-size: 18px;
}
#explicacion{
    color: #060606;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 40px;
    background-color: rgb(52, 228, 52);
    border-radius: 5px  ;
}
#resultado{
    padding: 10px;
    margin-top: 5px;
}
#enviar{
    background-color:  rgb(52, 228, 52);
    margin-top: 15px;
    font-family: monospace;
    border-radius: 7px;
}
